.slider {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
  width: 100vw;
}

.image {
  width: 100%;
  height: auto;
}

.prev,
.next {
  display: none;
}

/* Media queries for responsiveness */

/* Tablet */
@media (max-width: 768px) {
  .slide {
    width: 80vw; /* Adjust as needed */
  }
}

/* Mobile */
@media (max-width: 576px) {
  .slides {
    flex-wrap: nowrap; /* Prevent wrap to ensure sliding effect */
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  }

  .slide {
    width: auto; /* Adjust as needed */
    flex: 0 0 auto; /* Ensure equal width for each slide */
    min-width: 100%; /* Ensure each slide occupies full viewport width */
  }
}



