
.slider {
  position: fixed;
  overflow: hidden;
  width: 100vw; /* Make width touch the edges of the screen */
}

.slides {
  display: flex;
  transition: transform 0.5s ease; /* Add transition for smooth slide effect */
}

.slide {
  flex: 0 0 auto;
  width: 100vw; /* Make width touch the edges of the screen */
}

.image {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
}

.prev,
.next {
  display: none; /* Hide previous and next buttons */
}


